@import '../../styles/constants';

.title {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $dark;
}
.titleWrap {
    padding: 10px 0 6px;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    background-color: $gr-white;
    color: $dark;
    
    & h1 {
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.06em;
        @media screen and (max-width: 768px) {
           font-size: 20px;
        }
    }
}
.info {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    & span {
        opacity: 0.6;
    }
}
.rating {
    font-size: 12px !important;
    margin-right: 8px;
}
.sku {
    display: flex;
    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
    &__item {
        margin-left: 24px;
        @media screen and (max-width: 768px) {
            margin-left: 0px;
            margin-right: 24px;
        }
    }
}
.guidLink{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 35px;
    
    & a {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: $dark;
        opacity: 0.6;
    }
    &:focus a,
    &:hover a{
        opacity: 1;
        color: $dark;
    }
}
.product {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    @media screen and (max-width: 1000px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    &__info {
        width: 522px;
        @media screen and (max-width: 1000px) {
            width: 100%;
        }
    }
    &__info_title {
        opacity: 0.6;
    }
    &__row {
        @media screen and (max-width: 370px) {
            flex-direction: column;
        }
    }
    &__actions {
        @media screen and (max-width: 370px) {
            width: 100%;
        }
        & button{
            padding: 16px 24px;
        }
        & span {
            margin-left: 16px;
        }
    }
}
.price {
    margin-right: 24px;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    white-space: nowrap;
    color:$dark;
    @media screen and (max-width: 370px) {
        width: 100%;
        margin-left: 15px;
        margin-bottom: 30px;
    }
}
.row {
    display: flex;
    align-items: center;
    padding: 32px 0;
    border-top: 2px solid $grey;
}
.service {
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    @media screen and (max-width: 450px) {
        display: flex;
        flex-direction: column;
    }
    &__item {
        width: 33%;
        display: flex;
        align-items: center;
        margin-right: 15px;
        white-space: nowrap;
        background: transparent;
        opacity: 0.6;

        @media screen and (max-width: 450px) {
            width: auto;
            margin-bottom: 20px;
        }
        
        &:focus,
        &:hover {
            opacity: 1;
        }
    }
    &__icon {
        margin-right: 10px;
        width: 18px;
        height: 18px;
        fill: none;
    }
}
.payment {
    margin-bottom: 32px;
    @media screen and (max-width: 560px) {
        margin-bottom: 0px;
    }
    &__title {
        display: flex;
        margin-bottom: 32px;
        & h3 {
            margin-right: 24px;
            white-space: nowrap;
        }
        & span{
            position: relative;
            top:8px;
            width: 100%;
            border-top: 2px solid $grey;
        }
    }
    &__item {
        height: 22px;
        margin-right: 15px;
        background: transparent;
        transition: all .2s linear;
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
        &:focus,
        &:hover {
            background: $grey;
        }
    }

}
.description_title {
    opacity: 0.6;
}
.additional_info {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    & span {
        margin-left: 5px;
        font-weight: 400;
        opacity: 0.6;
    }
}
.reviews {
    flex-direction: column;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 2px solid $grey;
    & h3 {
        width: 100%;
        margin-bottom: 35px;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
        @media screen and (max-width: 320px) {
            flex-direction: column;
        }
        & span {
            opacity: 0.6;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        background-color: transparent;
        opacity: 0.6;
        @media screen and (max-width: 320px) {
            margin-top: 15px;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 16px;
            margin-right: 10px;
            background: url('../../assets/icons/review.svg') center no-repeat;
            background-size: cover;
        }
        &:focus,
        &:hover {
            opacity: 1;
        }
    }
    &__list {
        max-height: 350px;
        padding-right: 15px;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 3px;
            background-color: $grey;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #8D8B8B;
        }
    
    }
}

.review {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    &__input {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
        border: 1px solid $dark;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0;
        text-align: right;
    }
    &__btn {
        margin-left: 20px;
        padding: 8px 16px;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.06em;
        background-color: $dark;
        text-transform: uppercase;
        color: $white;
        transition: all 0.2s ease;

        &:focus,
        &:hover {
            background-color: $grey;
            color: $dark;
        }
    }
}
