@import '../../styles/constants';

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
    padding: 14px 15px;
    background-color: $gr-white;

    &__input {
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        background: transparent;
    }
}

