@import '../../../styles/constants';

.form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 340px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
}

.input {
  width: 100%;
  margin: 16px 0 24px 0;
  padding: 0 1rem;
  height: 64px;
  background: #f8f8f8;
  border: none;
  font-size: 14px;
  line-height: 18px;
  color: $dark;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $dark;
    opacity: 0.4;
  }
}

.button {
  width: 100%;
  padding: 0 1rem;
  height: 64px;
  background: $dark;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}

.buttonLabel {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
